# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Build Output
dist/
build/
coverage/

**/dist/
**/build/
**/coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.vscode/
!.vscode/extensions.json
.idea/
# Temporary Files
tmp/
temp/
# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Sensitive variable files
*.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan
*.plan

# CLI configuration
.terraformrc
terraform.rc

# Kubernetes secrets
k8/secrets/app-secret.yaml

