# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Git
.git
.gitignore
.github

# Docker
Dockerfile
.dockerignore

# Environment files

!.env.docker          # ← Yeh sabse important - exception ko last mein rakho

# Documentation
README.md
LICENSE

# Tests
test
tests
coverage

# Logs
logs
*.log

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Build artifacts
dist
build

# Temporary files
tmp
temp
.cache