DATABASE_URL="postgresql://postgres:postgres@localhost:5432/order_db?schema=public"
PORT=4003
JWT_SECRET=supersecret_jwt_key_change_me
PRODUCT_SERVICE_URL=http://localhost:4002
PAYMENT_SERVICE_URL=http://localhost:4004
NOTIFICATION_SERVICE_URL=http://localhost:4005
